# App
NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/redetrade

# JWT
JWT_SECRET=your_jwt_secret_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_change_in_production
JWT_REFRESH_EXPIRES_IN=7d

# Redis
REDIS_URL=redis://localhost:6379

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# Seed
SEED_ADMIN_PASSWORD=Admin@123456

# Backblaze B2 (upload de imagens)
B2_KEY_ID=your_b2_key_id
B2_APPLICATION_KEY=your_b2_application_key
B2_BUCKET_NAME=redetrade
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
B2_PUBLIC_URL=https://f005.backblazeb2.com/file/redetrade
